body > table{
    margin: 10px;

    width: 90%;

}

table{
    /* border-collapse: collapse; */
}
table.list{
    width:90%;
    margin: 9px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}
.list-wrap{
    margin-top: 40px;
}
select[name=gender]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 100%;
    background-color: rgb(204, 195, 195);
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: left;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}